@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  line-height: 2;
}

html {
  scroll-behavior: smooth;
}

section {
  background-color: #352419;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  color: #FFF;
  line-height: 2;
  letter-spacing: 1.2px;
}

.color--red {
  background-color: #5b2434;
  width: 300px;
}

label {
  color: #FFF;
}

.click:hover {
  cursor: pointer;
}

/* general */
.container {
  width: 100%;
  padding: 9rem 0px;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

/* landing page  */
#landing_page {
  height: 100vh;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid #000;
  background-color: #715c46;
}

.nav__container {
  width: 100%;
  height: 80px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__wrapper {
  display: flex;
  align-items: center;
}

.logo__img--wrapper {
  width: 100%;
  max-width: 100px;
}

.logo__img {
  width: 100%;
}

.logo__name {
  margin-left: 12px;
  width: 100%;
  color: #FFF;
}

.link__list {
  display: flex;
}

.nav__link {
  margin-left: 32px;
  color: #FFF;
}

.nav__link:hover {
  color: #5b2434;
}


.landing_page__img--wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
  filter: brightness(0.6);
}

.landing_page__img {
  width: 100%;
  scale: 1.1;
}

.btn__menu {
  background-color: transparent;
  border: none;
  font-size: 20px;
  text-align: center;
  color: rgb(36, 62, 99);
  display: none;
}

.menu__backdrop {
  position: fixed;
  background-color: #715c46;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  border: 1px solid #eee;
  border-radius: 8px;
  visibility: hidden;
  opacity: 0;
  margin: 1rem 1rem;
  padding: 2rem;

  transition: all 300ms ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.btn__menu--close {
  position: absolute;
  right: 8px;
  top: 4px;
  padding: 8px;
  color: rgb(36, 62, 99);
}

.hamburger__menu,
.x__btn {
  color: #5b2434;
}

.menu__list {
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.menu__link,
.nav__link {
  color: #FFF;
  border-bottom: 2px solid transparent;
  padding: 4px;

  transition: all 300ms ease;
}

.menu__link:hover,
.nav__link:hover {
  border-bottom: 2px solid #5b2434;
  color: #5b2434;
}

.btn__link {
  color: #FFF;
  padding: 12px 32px;
  background-color: #6415FF;
  border-radius: 100px;
}

.btn__link:hover {
  background-color: #5011CC;
  color: #FFF;
}

.btn__list {
  margin-top: 24px;
}

/* header  */
.website_name {
  font-size: 60px;
  color: #FFF;
  text-align: center;
  margin-bottom: 24px;
}

.website_sub_heading {
  font-size: 24px;
}

/* services offered  */
.section__title {
  text-align: center;
  margin-bottom: 32px;
  font-weight: 400;
  color: #FFF;
}

.service__display--wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.service {
  width: calc(100% / 4);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 0px;
}

.service__img--wrapper {
  border-radius: 12px;
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.service__img {
  width: 100%;
  scale: 1.2;
}

.service__para {
  text-align: center;
  margin-top: 24px;
  color: #FFF;
}

.personal_chef__img {
  height: 235px;
}


/* gallery */
.gallery_food__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider {
  overflow: hidden;
  width: 600px;
  height: 600px;
  box-shadow: 1px 1px 10px 2px #0000009a;
}

.slider__wrapper {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: slide 20s infinite alternate-reverse;
}

.slider__img {
  width: 20%;
  float: left;
}


@keyframes slide {
  0% {left: 0;}
  20% {left: 0;}
  25% {left: -100%;}
  45% {left: -100%;}
  50% {left: -200%;}
  70% {left: -200%;}
  75% {left: -300%;}
  95% {left: -300%;}
  100% {left: -400%;}
}

/* meet the chef */
.info__wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.info__container {
  width: 45%;
}

.chef__img--wrapper {
  width: 45%;
  max-width: 500px;
  height: 500px;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: -5px 10px 10px 5px #00000086;
}

.chef__img {
  width: 100%;
}

.info__para {
  margin-bottom: 32px;
}


/* contact */
form {
  display: flex;
  flex-direction: column;
}

.contact_input {
  margin: 12px 0;
  border: 1px solid #715c46;
  padding: 12px;
  background-color: transparent;
  color: #FFF;
  transition: all 300ms ease;
}

.contact_input:focus,
textarea:focus {
  outline: none;
}

.contact_input:hover,
textarea:hover {
  border: 1px solid #5b2434;
}

textarea {
  background-color: transparent;
  border: 1px solid #715c46;
  padding: 8px 8px;
  color: #FFF;
  transition: all 300ms ease;
}

.btn__wrapper {
  display: flex;
  justify-content: center;
}

.form_btn {
  margin-top: 32px;
  border: 1px solid #000;
  background-color: #715c46;
  color: #000;
  border-radius: 100px;
  width: 300px;
  padding: 12px 32px;
  font-size: 18px;
  text-align: center;
  transition: all 300ms ease;
}

.form_btn:hover {
  background-color: #5b2434;
  color: #FFF;
}

/* footer  */
footer {
  background-color: #715c46;
}

.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo--wrapper {
  position: relative;
  width: 200px;
  overflow: hidden;
  margin-bottom: 56px;
}

.footer__logo {
  width: 100%;
}

.socials {
  font-size: 24px;
  color: #715c46;
}

.socials__container {
  display: flex;
  margin-bottom: 24px;
}

.socials__wrapper {
  border: 1px solid #000;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin: 0 12px;
  background-color: #352419;
  transition: all 300ms ease;
}

.socials__wrapper:hover {
  scale: 1.1;
}

.socials__wrapper:active {
  scale: 0.9;
}

.footer__container {
  padding: 2rem 0;
}

.copyright {
  margin-top: 32px;
}


/* menu.html */
.header__info--container {
  position: absolute;
  z-index: 50;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn__container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.menu__btn {
  padding: 12px 32px;
  width: 150px;
  margin: 24px;
  border: 1px solid #FFF;
  background-color: transparent;
  color: #FFF;
  text-align: center;
  transition: all 300ms ease;
}

.menu__btn:hover {
  background-color: #5b2434;
}

/* dessert, event menu */
.menu__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu__wrapper {
  width: 100%;
  max-width: 500px;
}

.menu__img {
  width: 100%;
}

.menu__event__img {
  width: 45%;
  max-width: 450px;
}

.menu__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


/* contact */
.contact__form--background {
  border: 1px solid #000;
  border-radius: 25px;
  width: 100%;
  height: 300px;
  background-color: #715c46;
  padding: 24px;
  text-align: center;
}

.form__info {
  font-size: 24px;
  margin-bottom: 32px;
}

.form__btn {
  border: 1px solid #000;
  padding: 20px 32px;
  font-size: 16px;
  border-radius: 100px;
  color: #000;
  background-color: #FFF;
  transition: all 300ms ease;
}

.form__btn:hover {
  background-color: #5b2434;
  color: #FFF;
}


.menu__btn {
  color: #FFF;
}

/* tutorials */
.tutorials__img {
  scale: 2;
  padding-bottom: 700px;
}

.tutorial__btn {
  margin: 12px 0 12px 0;
  width: 400px;
  text-align: center;
}

.food__info {
  border: 1px solid #715c46;
  padding: 8px;
  width: 45%;
}

.tutorial_section__title {
  margin-bottom: 32px;
  font-weight: 400;
  color: #FFF;
}

.ingredients {
  color: #FFF;
  font-weight: 400;
  margin-bottom: 8px;
}

.tutorial__item {
  color: #FFF;
  margin-bottom: 8px;
  list-style-type: circle;
}

.tutorial__list {
  padding-left: 16px;
  margin-bottom: 32px;
}

.food_result--wrapper {
  width: 45%;
  border: 1px solid #715c46;
}

.food_result--img {
  width: 100%;
  display: block;
}

.tutorial__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.directions__item {
  list-style-type: decimal;
}

.tips__container {
  border: 1px solid #715c46;
  padding: 12px;
  width: 45%;
}

.food_tutorial__img--wrapper {
  border: 1px solid #715c46;
  width: 45%;
}

.food_tutorial__img {
  width: 100%;
  display: block;
}

.container2 {
  display: flex;
  justify-content: space-between;
}


@media (max-width: 1128px) {
  .service {
    width: calc(100% / 2);
  }

  .chef__img--wrapper {
    width: 300px;
    height: 300px;
  }

  .btn__menu {
    display: block;
  }

  .nav__link {
    display: none;
  }
}

@media (max-width: 721px) {
  .website_name {
    font-size: 40px;
  }

  .website_sub_heading {
    font-size: 16px;
  }
}